# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
.eslintcache

# Logs
logs/
*.log

# Environment variables
.env
.env.*.local

# Build artifacts
dist/
build/
public/build/ # If you're building client-side assets into public/build

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Uploads
uploads/ # If your application handles file uploads